.card {
    /* background-color: crimson; */
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #555;
    margin: 10px;

    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.card .title {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.card .content {
    background-color: #aaa;
    color: #333;
    padding: 10px;
    flex: 1;
}